@import "mixins";

.wrap {
  &.aqua {
    background-color: #eeeff1;
  }

  &.blue {
    background-color: #34547a;
  }

  width: 100vw;
  height: auto;
  display: flex;
  float: left;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  @include container();
}

/* NAVIGATION*/
.navigation {
  margin-top: 80px;
  height: fit-content;
}

.nav-item {
  @include roboto-medium();
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  margin-right: 42px;
  margin-bottom: 10px;

  &:last-child {
    margin: 0;
  }

  &:hover {
    color: #34547a;
  }
}

.navigation-ticker {
  display: none;
}

@media (max-width: 690px) {
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    list-style: none;
    padding: 30px;
    margin: 0px;
    width: 100vw;
    top: -300px;
    left: 0;
    transition: top 0.2s;
    z-index: 2;
    background-color: #eeeff1;
    border-bottom: solid 3px #34547a;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 0;
  }


  .btn-nav {
    color: black;
    padding: 2px;
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: top 0.23s;
    z-index: 3;
    width: 20px;
  }

  .btn-nav span {
    display: block;
    height: 2px;
    background-color: black;
    margin: 5px 0 0;
    transition: all 0.1s linear 0.23s;
    position: relative;
  }

  .btn-nav span.first {
    margin-top: 0;
  }

  .navigation-ticker:checked~.btn-nav {
    right: 5px;
    background-color: #34547a;
  }

  .navigation-ticker:checked~.navigation {
    top: 0;
  }

  .navigation-ticker:checked~.btn-nav span.first {
    transform: rotate(45deg);
    top: 7px;
    background-color: #eeeff1;
  }

  .navigation-ticker:checked~.btn-nav span.second {
    opacity: 0;
  }

  .navigation-ticker:checked~.btn-nav span.third {
    transform: rotate(-45deg);
    top: -7px;
    background-color: #eeeff1;
  }
}




/*HEADER*/
.header-title {
  @include roboto-medium();
  font-size: 48px;
  margin-top: calc(257px - 96px);
  display: inline-block;

  @media (max-width: 1280px) {
    font-size: 36px;
  }

  @media (max-width: 690px) {
    margin-top: 45px;
  }
}

.header-text {
  @include roboto-regular();
  @include main-text();
  text-align: start;
  margin-left: 0;
  margin-top: calc(362px - 257px - 60px);

  @media (max-width: 850px) {
    text-align: center;
  }


}

.button-header {
  @include roboto-regular();
  text-transform: uppercase;
  color: #ffffff;
  background-color: #34547a;
  margin-top: calc(513px - 362px - 60px);
  width: 225px;
  height: 65px;
  display: inline-block;
  border: none;
  cursor: pointer;

  @media (max-width: 690px) {
    margin-top: 30px;
  }
}


/*ABOUT*/
.about {
  flex-wrap: wrap;
  justify-content: center;
}

.about-element {
  width: 100%;
  height: fit-content;
}

.about-title {
  @include roboto-medium();
  @include title();
}

.about-text {
  @include roboto-regular();
  @include main-text();
}


/*ACHIEVEMENTS*/
.achievements {
  flex-direction: row;
  justify-content: space-evenly;

  @media (max-width: 1400px) {
    flex-wrap: wrap;
  }
}

.achievements-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 141px;
  height: 50px;
  margin-bottom: 20px;

  @media (max-width: 1400px) {
    width: 30%;
  }

  @media (max-width: 850px) {
    padding: 0 30px;
  }

  @media (max-width: 690px) {
    padding: 5px;
    margin: 0;
  }

  @media (max-width: 375px) {
    width: 50%;
  }
}

.icon {
  margin-right: 10px;
  display: block;
  float: left;
  height: 100%;
  width: 30%;

  &>img {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 690px) {
    margin-right: 5px;

  }
}

.number {
  @include roboto-medium();
  float: left;
  display: block;
  width: 60%;
  height: 50%;
  text-align: left;

  &>h3 {
    color: #ffffff;
    font-size: 21px;
    line-height: 24.61px;

    @media (max-width: 690px) {
      font-size: 16px;
      line-height: 16px;
    }
  }
}

.achievements-title {
  @include roboto-regular();
  width: 60%;
  display: block;
  float: left;
  font-size: 16px;
  line-height: 26.25px;
  text-align: left;
  color: #ffffff;
  height: 50%;


  @media (max-width: 690px) {
    font-size: 10px;
    line-height: 10px;
  }
}



/*PROCESS*/
.process {
  height: 1000px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: 690px) {
    height: 700px;
  }

  @media (max-width: 450px) {
    height: fit-content;
  }
}

.process-video {
  position: relative;
  float: left;
  height: 600px;
  width: 100%;

  @media (max-width: 690px) {
    height: auto;
    width: 100%;
  }
}

.process-img {
  float: left;
  width: 100%;
  height: 600px;

  @media (max-width: 690px) {
    height: auto;
    width: 100%;
  }
}

.play {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;

  &:hover {
    background-color: #34547a;
    color: white;
    transition: 1.5s;
  }
}

.process-title {
  h2 {
    @include roboto-medium();
    @include title();
  }
}

.process-text {
  @include roboto-regular();
  @include main-text();
}



/*FOOTER*/

.author {
  @include roboto-medium();
  color: #ffffff;
  font-size: 21px;
  line-height: 24.61px;
  text-align: left;
  margin-bottom: 20px;
}

.footer-text {
  @include roboto-regular();
  color: #ffffff;
  font-size: 13px;
  line-height: 21.33px;
  text-align: left;
}