/*FONT
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  } 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.aqua {
  background-color: #eeeff1;
}
.blue {
  background-color: #34547a;
}
.container {
  padding-top: 80px;
  width: 60%;
  margin-left: 400px;
  float: left;
}
/*





 Header STYLE*/
.header {
  width: 100vw;
  height: fit-content;
  float: left;
  height: 700px;
  background: #eeeff1;
}
.nav {
  width: 611px;
  height: fit-content;
  display: inline-block;
}
.link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  margin-right: 42px;
}
.link:last-child {
  margin: 0;
}
.header-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 48px;
  margin-top: calc(257px - 60px);
  display: inline-block;
}
.header-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #727272;
  width: 540px;
  line-height: 26.25px;
  margin-top: calc(362px - 257px - 60px);
  display: inline-block;
}
.button-header {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #34547a;
  margin-top: calc(513px - 362px - 60px);
  width: 225px;
  height: 65px;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  border: none;
  cursor: pointer;
}
/*






ABOUT STYLE*/
.about {
  width: 100vw;
  height: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-about {
  padding-top: 80px;
  float: left;
  width: 100%;
}

.about-element {
  width: 100%;
  height: fit-content;
}
.about-title {
  height: fit-content;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 37.5px;
  text-align: center;
}
.about-text {
  margin: 0 auto;
  height: fit-content;
  width: 540px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.25px;
  text-align: center;
  color: #727272;
}
/*





Achievements STYLE*/
.achievements {
  height: 250px;
  display: flex;
  width: 100vw;
  align-items: center;
  padding-bottom: 80px;
}
.ach-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.achievements-item {
  width: 141px;
  height: 50px;
}
.icon {
  margin-right: 10px;
  display: block;
  float: left;
  height: 50px;
  width: 50px;
}
.number {
  float: left;
  display: block;
  width: 71px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 24.61px;
  text-align: left;
}
.achievements-title {
  width: 71px;
  display: block;
  float: left;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.25px;
  text-align: left;
  color: #ffffff;
}
/*






process STYLE*/
.process {
  height: 1000px;
  display: flex;
  width: 100vw;
  align-items: center;
}
.process-cont {
  width: 60%;
  margin-left: 400px;
}
.process-video {
  position: relative;
  float: left;
  height: 600px;
  width: 100%;
}
.process-img {
  float: left;
  width: 100%;
  height: 600px;
}
.play {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
}
.play:hover {
  background-color: #34547a;
  color: white;
  transition: 1.5s;
}
.process-title {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  line-height: 37.5px;
  text-align: center;
  margin-bottom: 50px;
}
.process-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.25px;
  text-align: center;
  color: #727272;
  width: 540px;
  margin: 0 auto;
  margin-bottom: 60px;
}
/*






Footer STYLE*/
.footer {
  padding-top: 50px;
  height: 150px;
  display: flex;
  width: 100vw;
  flex-direction: column;
}
.container-foot {
  width: 60%;
  margin-left: 400px;
  float: left;
}
.author {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 24.61px;
  text-align: left;
  margin-bottom: 20px;
}
.footer-text {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21.33px;
  text-align: left;
}
